<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="BacklogProjectConfig" type="BacklogHelper.Common.Configuration.BacklogProjectConfig,BacklogHelper.Common"/>
  </configSections>                          
  <BacklogProjectConfig>
    <Projects>
    <!-- 対象プロジェクト名一覧を入れる-->
      <Project Name="" ID=""/>
    </Projects>
  </BacklogProjectConfig>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="SpaceID" value=""/> <!-- BacklogのSpaceIDを入れる-->
    <add key ="ApiKey" value=""/>　<!-- BacklogのAPI Keyを入れる-->
    <add key ="SearchPass" value=""/>　<!-- 対象パスを入れる-->
    <add key ="EscapeCode" value=""/>
 
  </appSettings>
</configuration>